.full-tray {
    overflow: hidden;
    background: #fff;
    padding-left: 13px;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    border-radius: 2%;
    box-shadow: 3px 3px 2px 2px #aaaaaa;
    right: 0px;
    width: 96%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    /* width: 445px;
    height: 80%; */
    position: absolute;
    top: 2%;
    /* bottom: 7em; */
    z-index: 4;
    mix-blend-mode: normal;
  }

.tray-mc-container {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.tray-mc-header {
    /* position: absolute; */
    top: 15px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    width: 100%;
    height: 36px;
    margin-top: 20px;
    /* right: 60px; */
}

.tray-trigger-menu-button {
  padding: 0px;
  width: 100%;
  height: 36px;
  border-radius: 12%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Saira', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  background-color: nono;
  z-index: 3;
}

.tray-trigger-close-button {
    padding: 0px;
    width: 36px;
    height: 36px;
    border-radius: 60%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Saira', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: rgb(23, 22, 22);
    background-color: nono;
    z-index: 3;
}
  
.menu-button {
    background-color: #ccc;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.tray-mc-content {
    padding-top: 40px;
    width: 100%;
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .signature {
    height: 130px !important;
  }

  .tray-mc-content > .logos {
    height: 204px !important;  
  }
  
  .tray-mc-grid {
    justify-content: center;
    font-family: "Helvetica", sans-serif;
    display: flex;
    gap: 13px;
    /* flex-direction: row; */
    flex-wrap: wrap;
    background: 0 0;
  }

  .tray-mc-list-wrapper {
    top: 0px;
    width: 100vw;
    height: 100%;
    font-size: 16px;
    text-align: left;
    /* overflow-y: scroll;
    position: absolute;
    padding: 50px 30px 0px; */
    background-color: transparent;
    /* padding: 50px 60px 50px 168px; */
  }

  .mc-list-title {
    font-size: 22px;
    font-weight: 300;
    /* font-style: italic; */
    color: #fff;
    line-height: 22px;
    margin-bottom: 19px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .mc-list-count {
    color: rgb(189, 189, 189);
    margin-left: 13px;
  }

  .heading {
    /* background: rgba(196, 195, 195, 0.2); */
    font-family: "Helvetica", sans-serif;
    border: 1px solid rgb(45, 44, 44);
    border-radius: 10px;
    color: rgb(24, 21, 21);
    text-align: center;
    align-items: center;
    width: 24%;      
    text-align: left;
    cursor: pointer;
    display: flex;
  }

  .tray-mc-list-item-selection::before {
    width: 10px;
    height: 10px;
    content: "";
    display: block;
    margin: 0px 16px 0px 0px;
    border-radius: 100%;
    border: 1px solid rgb(14 2 2);
  }
  
  .slabel {
    /* color: rgba(58, 55, 55, 0.8); */
    font-size: 15px;
    line-height: 10px;
    font-weight: 800;
    /* font-style: italic; */
    display: table-cell;
    position: relative;
    height: 44px;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
    border-radius: 0px 0px 5px 5px;
    margin: 0px auto;
    background-color: #fff;
  }

  .slabel:hover {
    /* color: black;  */
    background-color: #fff;
  }
  
  .tray-mc-grid:hover {
    color: black !important;
  }

  .heading:hover {
    /* color: rgb(255, 253, 253) !important;     */
    /* box-shadow: rgba(249, 249, 249, 0.73) 0px 0px 5px 3px !important; */
  }

  .tray-image {
    color: black !important;
  }

  .sitems {
    /* color: black !important;  */
  }

  .sitems:hover {
    /* color: black !important;  */
  }

  .tray-mc-sub-steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5px;
    width: 41em;
    /* width: 650px; */
    column-count: 2; /* Set to 2 columns */
    column-gap: 20px; 
    font-size: 14px;
    /* font-style: italic; */
    margin-left: auto;
    margin-right: auto;
  }

  .tray-mc-sub-list {
    display: flex; /* Ensure each item is a block */
    width: 100%;
  }

  .tray-mc-sub-key {
    padding-right:9px;
    padding-bottom: 25px;
  }

  .selected-group-tray {
    background-color: black;
    color: #fff;
    font-size: 12px;
  }

  @media screen and (max-width: 1316px) {
    .full-tray {
      width: 55vw;
      height: 70vh;
    }

    .heading {
      width: 20%;
    }

    .slabel {
      height: 35px;
      font-size: 14px;
      font-weight: 500;
    }

    .tray-mc-sub-steps {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 400px) {
    .full-tray {
      width: 100%;
    }

    .heading {
      width: 76px;
    }
  }