.measurements {
 width: 72%;
 height: 60vh;
 position: absolute;
 left: 13em;
 top: 4em;
 overflow: auto;
}   

.measurement_attribute {
 display: flex;
 /* align-items: center; */
 padding-top: 20px;
 justify-content: start;
}

.measurement_inputs {
 width: 130px;
 height: 48px;
 border-radius: 8%;
 font-size: 33px;
}

.measurement_title {
 padding-left: 10px;
}

.measurement_main {
font-size: 18px;
font-weight: 700;
color: #060505;
font-style: italic;
}

.measurement_sub_head {
 font-size: 12px;
 padding-top: 8px;
 color: #060505;
 font-style: italic;
}

.measurement_sub_head-2 {
 font-size: 12px;
 color: #060505;
 font-style: italic;
}

.measurement_inputs_paired {
 width: 62px;
 height: 48px;
 margin-right: 5px;
 border-radius: 8%;
 font-size: 25px;
}