.camera_root {
    position: absolute; 
    right: 93%;
}

.cameras_camera {
    width: 52px;
    height: 68px;
    margin-top: 16px;
    border-radius: 8px;
    border: 1px solid var(--template-primary--600);
    opacity: .5;
    display: flex;
    flex-flow: row;
    box-shadow: 0 4px 12px var(--template-camera-box-shadow-color);    
}

.camereImage {
    width: 52px;
    height: 68px;
    max-height: 99%;
    border-radius: 8px;
}

@media screen and (max-width: 786px) {
    .camera_root{
      position: absolute;
      left: 3%;
      top: 0%;
    }
    .cameras_camera {
        width: 44px;
        height: 57px;
    }

    .camereImage{
      display: flex;
      height: 58px;
    }
}
