div {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewer_zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    /* position: absolute;  */
    right: 93.6%;
    /* top: 42%;  */
    color: var(--template-primary--600);
}

.ff_zoom_in {
    width: 28px;
    height: 28px;
    /* position: absolute;
    right: 93.7%;
    top: 65%; */
    fill: var(--template-primary--600);
    padding-bottom: 48px;
    cursor: pointer;
}

.ff_zoom_out {
    width: 28px;
    height: 28px;
    /* position: absolute;
    right: 93.7%;
    top: 76.4%; */
    fill: var(--template-primary--600);
    cursor: pointer;
}

.ff_zoom_description {
    /* position: absolute;
    right: 93.1%;
    top: 72%; */
    font-size: 13px;
    color: var(--template-primary--600);
    padding-bottom: 15px;
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
}

.btn.btn-primary, .btn.btn-secondary {
    border: 1px solid var(--template-primary--900);
}

.btn.btn-primary {
    color: var(--template-primary--200);
    background-color: var(--template-primary--900);
}

.bubble_button_ar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 51%;
    top: 16%;
    width: 32px;
    height: 32px;
}

.bubble_button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 30%;
}

.bubble_button_button {
    /* /border: 1px solid lightgray; */
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 4px 8px var(--template-default-box-shadow-color);;
}

.bubble_button_text {
    font-family: "Avenir Next",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: var(--template-primary--600);
    margin-top: 8px;
    padding-top: "15px"
}

.bubble_button_fullScreen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 49.5%;
    top: 45%;
}


.menu_footer {
    display: flex;
    flex-flow: row;
    /* border: 2px solid #d3d3d3; */
    align-items: center;
    position: relative;
    bottom: 3em;
    padding: 27px 0 0 20px;
}

.menu_price {
    display: flex;
    font-family: "Avenir Next",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-size: 24px;
    font-style: normal;
    letter-spacing: -.5px;
}

.menu_help_customization_help {
    z-index: 12;
    position: relative;
    top: 16px;
    left: 30px;
    font-family: Avenir Next;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    margin-top: 8px;
}


.price_value {

}

.menu_actions { 
    display: flex;
    margin-left: auto;
}

.menu_btn_cart {
    margin-right: 10px;
}

.menu_btn_share_icon {
    width: 16px;
    height: 16px;
}

.scroll {
    display: none;
} 

@media (min-width: 61.25em) {
    .menu_btn_cart{
        width: 216px;
    }
}

@media screen and (max-width: 786px) {
    .bubble_button, .bubble_button_button, .bubble_button_text, .bubble_button_fullScreen{
        /* position: relative; */
        /* top: 0; */
        right: 80%;
        /* /bottom: 50px; */
        left: 0%;
    }

    .bubble_button_ar{
        position: absolute; 
        top: 4%; 
        right: 4%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 85%;
        width: 32px;
        height: 32px;
    }

    .bubble_button {
        top: 30%;
        left: 90% !important;
    }

    .bubble_button_fullScreen {
        top: 56%;
        left: 90% !important;
    }

    .viewer_zoom {
        display: none;
    }

    .left-keys {
        /* position: static !important; */
    }

    .scrollPosition {
        /* position: absolute; */
        /* top: 45%; */
        left: 12%;
    }

    .scroll {
        display: flex;
        margin-top: 15px;
        width: 36px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        flex-flow: row;
        box-shadow: 0 4px 12px rgba(0,0,0,0.25);;
        padding: 0px;
    }
}
  