* {
  box-sizing: border-box;
  
}

#root {
  height: 100%;
  --template-primary--000: #fff;
  --template-primary--200: #f4f4f4;
  --template-primary--400: #d7d7d7;
  --template-primary--600: #838383;
  --template-primary--800: #4f4f4f;
  --template-primary--900: #292929;
  --template-background-color: #f4f4f4;
  --template-default-box-shadow-color: rgba(0, 0, 0, 0.1);
  --template-loader-overlay: hsla(0, 0%, 95.7%, 0.4);
  --template-camera-box-shadow-color: rgba(0, 0, 0, 0.25);
  --template-boundary-color: #900909;
  --template-highlight-boundary-color: #900909;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f4f4;
}

html {
  overflow-x: hidden;
} 

.triangle {
  margin-right: 7px;
  margin-bottom: 2px;
  width: 10px;
  height: 10px;
  background: var(--template-boundary-color);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  transform: rotate(89deg);
}

/* .noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
} */